Spectrum/Service References/LicenseServices/LicenseService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://10.10.180.80:2015/LicenseService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/SpectrumLicense.Models" />
  <xs:element name="SaveLicense">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/SpectrumLicense.Models" minOccurs="0" name="licenseModel" nillable="true" type="q1:LicenseModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveLicenseResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveLicense1">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/SpectrumLicense.Models" minOccurs="0" name="licenseModel" nillable="true" type="q2:LicenseModel" />
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/SpectrumLicense.Models" minOccurs="0" name="clientModel" nillable="true" type="q3:ClientModel" />
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/SpectrumLicense.Models" minOccurs="0" name="versionModel" nillable="true" type="q4:AutoUpdateVersionInfoModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveLicense1Response">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateLicense">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/SpectrumLicense.Models" minOccurs="0" name="licenseModel" nillable="true" type="q5:LicenseModel" />
        <xs:element minOccurs="0" name="licenseStatus" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateLicenseResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteByID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="licenseID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteByIDResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteByHardwareKey">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="hardwareKey" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteByHardwareKeyResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLicenseList">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLicenseListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/SpectrumLicense.Models" minOccurs="0" name="GetLicenseListResult" nillable="true" type="q6:ArrayOfLicenseModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLicenseByClientID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="clientID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLicenseByClientIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/SpectrumLicense.Models" minOccurs="0" name="GetLicenseByClientIDResult" nillable="true" type="q7:ArrayOfLicenseModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetClientByID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="clientID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetClientByIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/SpectrumLicense.Models" minOccurs="0" name="GetClientByIDResult" nillable="true" type="q8:ClientModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLicenseByID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="licenseID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLicenseByIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/SpectrumLicense.Models" minOccurs="0" name="GetLicenseByIDResult" nillable="true" type="q9:LicenseModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetClientList">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetClientListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/SpectrumLicense.Models" minOccurs="0" name="GetClientListResult" nillable="true" type="q10:ArrayOfClientModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeactivateLicense">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="licenseID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeactivateLicenseResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeactivateLicenseResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ActivateLicense">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="licenseID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ActivateLicenseResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ActivateLicenseResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AllocateLicense">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/SpectrumLicense.Models" minOccurs="0" name="licenseModel" nillable="true" type="q11:LicenseModel" />
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/SpectrumLicense.Models" minOccurs="0" name="versionModel" nillable="true" type="q12:AutoUpdateVersionInfoModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AllocateLicenseResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/SpectrumLicense.Models" minOccurs="0" name="AllocateLicenseResult" nillable="true" type="q13:LicenseModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLicenseByLicenseKey">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="licenseKey" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLicenseByLicenseKeyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetLicenseByLicenseKeyResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLicenseByHardwareKey">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="hardwareKey" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="prodType" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="clientid" type="xs:int" />
        <xs:element minOccurs="0" name="sitecode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLicenseByHardwareKeyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetLicenseByHardwareKeyResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLicenseReconciliationData">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLicenseReconciliationDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/SpectrumLicense.Models" minOccurs="0" name="GetLicenseReconciliationDataResult" nillable="true" type="q14:ArrayOfReconciliationModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetReconciliationDetailsByClientID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="clientID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetReconciliationDetailsByClientIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/SpectrumLicense.Models" minOccurs="0" name="GetReconciliationDetailsByClientIDResult" nillable="true" type="q15:ClientModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ClientLicenseDetailsByMasterKey">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="masterKey" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ClientLicenseDetailsByMasterKeyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/SpectrumLicense.Models" minOccurs="0" name="ClientLicenseDetailsByMasterKeyResult" nillable="true" type="q16:ClientModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLicenseByClientIDModel">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="clientID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLicenseByClientIDModelResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/SpectrumLicense.Models" minOccurs="0" name="GetLicenseByClientIDModelResult" nillable="true" type="q17:ArrayOfLicenseModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateLicenseBackDated">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/SpectrumLicense.Models" minOccurs="0" name="mstLicense" nillable="true" type="q18:LicenseModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateLicenseBackDatedResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateLicenseBackDatedResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetIssueDateByLicenseKey">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="licenseKey" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetIssueDateByLicenseKeyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetIssueDateByLicenseKeyResult" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLicenseByHardwareKeys">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="hardwareKey" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="siteCode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLicenseByHardwareKeysResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetLicenseByHardwareKeysResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetIssueDateByHardwareKey">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="hardwareKey" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="siteCode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetIssueDateByHardwareKeyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/SpectrumLicense.Models" minOccurs="0" name="GetIssueDateByHardwareKeyResult" nillable="true" type="q19:LicenseBackDatedModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetIssueDateByHardwareKeyNew">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="hardwareKey" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="siteCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="terminalId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetIssueDateByHardwareKeyNewResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/SpectrumLicense.Models" minOccurs="0" name="GetIssueDateByHardwareKeyNewResult" nillable="true" type="q20:LicenseBackDatedModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>